{% extends "master.html" %}

{% block title %}
  {{ anime.title }} - Episode {{ episodeNum }}
{% endblock %}

{% block content %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{{base_url}}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Categories</a>
                        <a href="#">{{anime.genres.0}}</a>
                        <span>{{ anime.title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <video id="player" class="video-js vjs-default-skin" playsinline controls data-poster="{{static_url}}videos/anime-watch.jpg" onended="episodeEnded()">
                            {% if 'server' in request.GET %}
                                <source src="{{request.GET.server_url}}" class="source" type="application/x-mpegURL" />
                            {% else %}
                                <source src="{{episode.sources.3.url}}" class="source" type="application/x-mpegURL" />
                            {% endif %}
                            <!-- Captions are optional -->
                            <track kind="captions" label="English Captions" src="#" srclang="en" default />
                        </video>
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Servers</h5>
                        </div>
                        {% for server in servers %}
                            <a href="{{anime_watch_url}}/{{animeId}}/{{episodeId}}?server={{server.name|lower}}&server_url={{server.url}}" class="server {% if request.GET.server == server.name|lower %}active{% endif %}" data-url="{{ server.url }}">{{ server.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Episodes</h5>
                        </div>
                        {% for episode in anime.episodes %}
                            <a href="{{ anime_watch_url }}/{{ animeId }}/{{ episode.id }}" class="{% if episodeId == episode.id %}active{% endif %}" id="{{ episode.id }}">Ep {{ episode.number }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        <div class="reviews">
                            {% if reviews %}
                                {% for review in reviews %}
                                    <div class="anime__review__item" data-id="{{review.id}}">
                                        <div class="anime__review__item__pic">
                                            <img src="{{static_url}}images/comment/comment_icon.jpg" alt="{{review.name}}">
                                        </div>
                                        <div class="anime__review__item__text">
                                            <h6>{{review.name}} - <span>{{review.created_at|timesince}} ago</span></h6>
                                            <p>{{review.comment}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No comments yet. Be the first to review!</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            {% comment %} <form action="#" method="POST"> {% endcomment %}
                                <textarea placeholder="Your Comment" id="commentBox"></textarea>
                                <button type="submit" id="commentBtn" onclick='addComment()'><i class="fa fa-location-arrow"></i> Review</button>
                            {% comment %} </form> {% endcomment %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <script>
        function episodeEnded() {
            currentUrl = window.location.href;
            newUrl = currentUrl.substring(0, currentUrl.length - 1)+'2';
            window.location.href = newUrl;
        }

        function addComment() {
            let comment = $('#commentBox').val().trim();
            if (comment !== '') {
                $.ajax({
                    url: "{% url 'addComment' %}",
                    type: "POST",
                    data: {
                        'comment': comment,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'episode_id': '{{episodeId}}'
                    },
                    success: function(response) {
                        $('#commentBox').val('');
                        $('.reviews').append('<div class="anime__review__item"><div class="anime__review__item__pic"><img src="{{static_url}}images/comment/comment_icon.jpg" alt=""></div><div class="anime__review__item__text"><h6>'+ response.name +' - <span>1 Hour ago</span></h6><p>'+ comment +'</p></div></div>')
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        }
    </script>

{% endblock %}